.invitation {
  width: 25%;
  float: left;
}

.invitation p {
  text-align: center;
}

.invitation p img {
  color: white;
}

.sugget {
  font-size: 250%;
  text-align: center;
  height: 300px;
  position: relative;
  top: 200px;
}
