body {
  padding: 0px;
  margin: 0px;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 11px;
}

body a {
  color: #3B5998;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

.title {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 10px;
}
