- recipient = invitation.recipient

%div{ :class => "invitation" }
  %p
    = link_to fb_profile_pic(recipient, { :linked => false }), fb_user_url(recipient), { :target => "_top" }
  %p
    = link_to fb_name(recipient, { :linked => false }), fb_user_url(recipient), { :target => "_top" }