- fb_multi_friend_request("Fireworks", "Кого пригласить в Fireworks?", invitations_path, { :showborder => true, :email_invite => false, :exclude_ids => @invited_users }) do
  Простое и полезное приложение для iPhone Fireworks
  = fb_req_choice("Принять", new_invitation_url)